{% extends "base.html" %}
{% import "includes/form.html" as macros %}
{% block content %}
        <h1>{% trans %}Parooli vahetamine{% endtrans %}</h1>
        <form class="form-horizontal" role="form" method="post">
        {% if code == None %}
            {{ macros.render_form(email_form, _("Saada paroolivahetuskood")) }}
        {% else %}
            <p>{% trans %}Teie parool asendatakse uue suvaliselt genereeritud parooliga, mis saadetakse teile meili peale. Kinnitamiseks vajutage nupule:{% endtrans %}</p>
            {{ macros.render_form(password_form, _("Vaheta parool")) }}            
        {% endif %}
        </form>
{% endblock %}
